* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: "Poppins", sans-serif;
    background-color: var(--body-bg);
    color: var(--text-color);
    position: relative;
    font-size: 16px;
}
ol,
ul {
    padding: 0;
    list-style-type: none;
}
/* Sidebar */
.sidebar {
    background-color: #0063B2FF;
    position: fixed;
    width: 300px;
    height: 100vh;
}
.sidebar-menu {
    padding: 33px 23px 63px;
    list-style-type: none;
}
.sidebar-menu>li>a {
    width: 100%;
    padding: 30px 25px;
    height: 45px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 500;
    text-transform: capitalize;
    color: #fff;
    transition: color 0.2s ease-in-out;
    text-decoration: none;
}
.sidebar-menu.sidebar-menu-dropdown-content>li>a {
    font-size: 16px;
    font-weight: 400;
    height: 40px;
}
.sidebar-menu-dropdown-content>li>a {
    padding: 15px;
}
.sidebar-menu>li>a:hover {
    color:#222943;
}
.sidebar-menu-dropdown-content {
    padding: 0;
    height: 0;
    overflow: hidden;
    transition: height 0.25s ease-in-out;
}
.sidebar-menu-dropdown-content>li>a {
    padding-left: 65px;
}
.dropdown-icon {
    position: relative;
    cursor: pointer;
}

.dropdown-icon.active {
    transform: rotate( 180deg);
    transition: all .2s ease-in-out;
}
.sidebar-menu>li>a>i {
    font-size: 1.5rem;
    margin-right: 12px;
}
.sidebar-menu-dropdown {
    position: relative;
}
.sidebar-menu-dropdown .dropdown-icon {
    position: absolute;
    right: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
} 
.sidebarheader{
    margin: 40px 20px 10px 40px;
    padding-left: 20px;
    border-left: 2px solid #000;
}
.sidebarheader p{
    padding: 3px 0;
    font-size: 20px;
}
.main{
    margin-left: 300px;
}



/* dashboard */
a {
    text-decoration: none;
    color: unset;
    display: inline-block;
}
a:hover {
    color: #3C21F7;
}

.bg-color-1 {
    background: rgba(255, 188, 3, 0.1);
}

.bg-icon-1 {
    background: #FFBB00;
    background: -moz-linear-gradient(top, #FFBB00 0%, #FFF574 100%);
    background: -webkit-linear-gradient(top, #FFBB00 0%, #FFF574 100%);
    background: linear-gradient(to bottom, #FFBB00 0%, #FFF574 100%);
}

.color-1 {
    color: #FFBB01;
}

.bg-color-2 {
    background: #E5F8EB;
}

.bg-icon-2 {
    background: #00843E;
    background: -moz-linear-gradient(top, #00843E 0%, #59F187 100%);
    background: -webkit-linear-gradient(top, #00843E 0%, #59F187 100%);
    background: linear-gradient(to bottom, #00843E 0%, #59F187 100%);
}

.color-2 {
    color: #00BC39;
}

.bg-color-3 {
    background: rgba(60, 33, 247, 0.1);
}

.bg-icon-3 {
    background: #3C21F7;
    background: -moz-linear-gradient(top, #3C21F7 0%, #9B8DFF 100%);
    background: -webkit-linear-gradient(top, #3C21F7 0%, #9B8DFF 100%);
    background: linear-gradient(to bottom, #3C21F7 0%, #9B8DFF 100%);
}

.color-3 {
    color: #9687FE;
}

.bg-color-4 {
    background: #E6FFFF;
}

.bg-icon-4 {
    background: #21F7F7;
    background: -moz-linear-gradient(top, #21F7F7 0%, #9B8DFF 100%);
    background: -webkit-linear-gradient(top, #21F7F7 0%, #9B8DFF 100%);
    background: linear-gradient(to bottom, #21F7F7 0%, #9B8DFF 100%);
}
.main .navbar{
    width: 100%;
    padding: 0 20px;
    background-color: #f0ebdc;
    height: 60px;
    margin-bottom: 20px;
}
.main .box-body{
    margin-top: 50px;
}
.navbar-logo{
    float: right; 
    display: inline-flex;
}
.navbar-logo .navbar-user{
    margin: 10px 20px;
    text-align: center;
    font-size: 17px;
}
.navbar-logo img{
    width: 60px;
    height: 60px;
}
.main-content{
    margin: 50px 30px;
}
.box.card-box {
    display: flex;
    justify-content: space-between;
    margin: 20px 100px;
}

.box.card-box .icon-box {
    margin: 10px 50px 10px 50px;
    width: 400px;
    border-radius: 10px;
    padding: 25px 30px;
    display: flex;
    padding-bottom: 7px;
    position: relative;
    flex-wrap: wrap;
    cursor: pointer;
}

.sidebar-menu-dropdown-content.active {
    height: 100%;
    transition: 0.3s all;
}

.title-box,.themesflat-counter{
    margin: 7px ;
    font-size: 15px;
}

.box.card-box .icon-box .icon {
    width: 50px;
    height: 50px;
    min-width: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 14px;
    border: none;
}

.box.card-box .icon-box .icon i {
    font-size: 20px;
    color: #fff;
}

.box.card-box .icon-box .icon i.bx.bx-plus {
    color: #3C21F7;
}

.user .box.card-box .icon-box {
    padding: 40px 30px;
}

.user .box.card-box .icon-box .icon {
    transition: 0.3s all;
}

.user .box.card-box .icon-box:hover .icon {
    margin-top: -10px;
    transition: 0.3s all;
}

/*Admin Projects */
.table-responsive{
    margin: 50px 150px;
}
.table-responsive table{
    width: 100%;
    text-align: center;   
    border-collapse: collapse;
}
.table-responsive tr th{
    background-color: #b1add0;
    padding: 10px 5px;
}
.table-responsive tr td{
    padding: 15px 0px;
}
.dropdown, .dropend, .dropstart, .dropup {
    position: relative;
}
.dropdown-menu.show {
    display: block;
}
.dropdown-menu {
    position: absolute;
    z-index: 1000;
    display: none;
    width: 120px;
    padding: 10px 20px;
    margin: 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #f1efef;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: .25rem;
}
.dropdown-item{
    padding: 7px 0;
}

.row {
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;

}
.col-12 {
    flex: 0 0 auto;
    width: 100%;
}
.row>* {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x)* .5);
    padding-left: calc(var(--bs-gutter-x)* .5);
    margin-top: var(--bs-gutter-y);
}
.form-label {
    margin: 10px 0;
}
label {
    display: inline-block;
}
.form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}
button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
.btn{
    margin: 10px 0;
    padding: 10px 20px;
    background-color: #9B8DFF;
}
.newproject-content{
    margin: 0 400px 0 100px;
}
.newproject-content-header,.projectdetails-content-header{
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 30px;
}
.custom-control{
    padding-top: 20px;
}.custom-control span{
    padding-right: 20px;
}

/* Project Details */

.details-outline{
    margin: 50px 100px;
    min-height: 100px;
}
.details-box{
    display: flex;
    padding: 20px;
    margin-bottom: 40px;
    background-color:aliceblue;
    border: 1px solid aliceblue;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
}
.details-box:hover{
    border: 1px solid #3C21F7;
}
.details-header {
    width: 35%;
    font-size: 36px;
    padding: 120px 40px;
    text-align: center;
    color: #1c6080;
    font-style: oblique;
}
.details-header-id{
    font-size: 24px;
}
.details-box-content{
    background-color: #c7c7c77d;
    width: 100%;
    padding: 20px 50px;
    font-size: 18px;
}
.details-box-content div{
    padding: 2px;
}
.details-search{
    text-align: right;
    margin-top: -20px;
    margin-bottom: 20px;
}
.search-input{
  padding: 6px 10px;
  background-color:#e4e3e2;
  font-size: 17px;
  border: none;
  cursor: pointer;
}
.search-submit{
    padding: 5px 8px;
    border-radius: 50%;
    background-color:#e4e3e2;
    font-size: 17px;
    border: none;
    cursor: pointer;
}
.search-input:hover{
    border: none;
}